.forecast {
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 400px);
    grid-gap: 15px;
}

.forecast canvas {
    margin: 15px 0;
}

.forecast .col {
    border: 1px solid #8a8888;
    border-radius: 5px;
    background-color: #131320;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 1);
}